nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15%;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    height: 100%;
}
nav div {
    flex: 1;
}
nav img {
    max-width: 70%;
    padding-top: 2%;
    padding-left: 4%;
    padding-bottom: 2%;
    cursor: pointer;
}
nav a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    color: white;
    border: 2px solid white;
    background-color: rgba(0, 63, 255);
    padding: 20px 50px;
    border-radius: 10px;
    font-weight: 600;
}
a:hover {
    background-color: white;
    color: rgba(0, 63, 255);
    border: 3px solid rgba(0, 63, 255);
}
.accueil {
    display: flex;
    flex-direction: row;
    gap: 20%;
}
 
nav button {
    cursor: pointer;
    padding: 10px 20px;
    max-width: 50%;
    border: none;
    background-color: transparent;
    font-weight: 600;
    color: rgba(0, 63, 255);
}
nav button:hover {
    color: white;
    background-color: rgba(0, 63, 255);
    border-radius: 90px;
}
.contact {
    display: flex;
    flex-direction: row;
    gap: 2%;
    padding-left: 5%;
}
 

.Formation .titre {
    text-align: center;
    margin-bottom: 40px;
}

.Formation .titre h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.Formation .titre p {
    color: #555;
    font-size: 16px;
}

.Formation {
    padding: 40px 20px;
}

.Formation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Formation .conteneur-cartes {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}


.prépas,
.cycle-ingenieur,
.licences,
.bts {
    width: 250px;
    background: #f3f3f3;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.prépas img,
.cycle-ingenieur img,
.licences img,
.bts img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.prépas h2,
.cycle-ingenieur h2,
.licences h2,
.bts h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.prépas p,
.cycle-ingenieur p,
.licences p,
.bts p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.prépas ul,
.cycle-ingenieur ul,
.licences ul,
.bts ul {
    font-size: 13px;
    text-align: left;
    color: #444;
}

.Campus {
  padding: 60px 0;
}

.Campus-conteneur {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 40px;
}

.Campus-texte {
  width: 50%;
}

.Campus-image {
  width: 50%;
}

.Campus-image img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}